In [25]:
print('hello')

hello

In [26]:
# this is just a comment

In [27]:
'''
hell
hwo
'''

'\nhell\nhwo\n'

In [28]:
# this is the license
# this is another line

# For Multi line code

In [29]:
total = 3+1+\
4
print(total)

8

# Variable in Python

In [30]:
a = 1000
y = 1000
print(a is y) # small values are cached

False

In [31]:
a = 23
print(float(a))

23.0

In [32]:
print(eval('2'*32))

22222222222222222222222222222222

In [33]:
is_true = bool() # no argument in bool function means it store None and the bool value of None is falsy
is_true

False

In [34]:
str = 'helo'

In [35]:
str.encode('utf-16')

b'\xff\xfeh\x00e\x00l\x00o\x00'

In [36]:
a = True
not a

False

In [37]:
a = bool()
print(a)

False

In [38]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [39]:
print(range(10,1))

range(10, 1)

In [40]:
a = 3
a = str(a)
print(type(a))

TypeError: 'str' object is not callable

In [ ]:
n = int(input("Enter a number : "))
i = 1 
while (i < n):
    print(i)
    i += 1

1
2
3

## **Prime Number**

In [ ]:
for num in range(1,101):
    if num > 1:
        for i in range(2 , num):
            if (num %i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## **List and List Comprehension**

### Famous topic for Gen AI

In [ ]:
l = [x for x in range(10)] # this is basic list comprehension

In [ ]:
l = ['apple' , 'mango' , 'grapes']
l[-1:-4:-1]

['grapes', 'mango', 'apple']

In [ ]:
# list methods
a = [1,2,4]
a.extend([1,2,4])

In [ ]:
len(a)
a

[1, 2, 4, 1, 2, 4]

In [ ]:
a.insert(2 , 'krish')

In [ ]:
a

[1, 2, 'krish', 4, 1, 2, 4]

In [ ]:
a.remove(4)

In [ ]:
a

[1, 2, 'krish', 1, 2, 4]

In [ ]:
a.remove(2)

In [ ]:
a

[1, 'krish', 1, 2, 4]

In [ ]:
a.pop()

4

In [ ]:
a

[1, 'krish', 1, 2]

In [ ]:
a.index('krish')

1

In [ ]:
a.count(1)

2

In [ ]:
l = []
for i in range(10):
    l.append(i**2)
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
b = [x**2 for x in range(10)]

In [ ]:
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
###### list comprehension
even = [x**2 for x in range(10) if x%2 == 0]

In [ ]:
even

[0, 4, 16, 36, 64]

In [ ]:
### nested list comprehension 
l1 = [1,2,3,4]
l2 = ['a' , 'b' , 'c' , 'd']
for a , b in zip(l1,l2):
    print(a ,' --> ' , b)

1  -->  a
2  -->  b
3  -->  c
4  -->  d

# so list are used to store data just like arrays store data in other programming languages so systems like inventory management system and other systems uses list for their purpose

# **Sets in Python**

In [ ]:
a = {1,2,4,1}

In [ ]:
a

{1, 2, 4}

In [ ]:
sett = set()
print(type(sett))

<class 'set'>

In [ ]:
for i in a:
    print(i)

1
2
4

In [ ]:
first = next(iter(a))

# intersection_update means on which set you are applying this particular method is got updated permanently

## **Dictionaries**

In [ ]:

dic = {'Name' : 'Shahbaz' , 'Age' : 18 , 'Age' : 23}
dic

{'Name': 'Shahbaz', 'Age': 23}

In [ ]:
dic.items()

TypeError: 'dict_items' object is not subscriptable

In [ ]:
dic['Age']

23

In [ ]:
dic.get('age' , 'nothing')
# dic['age']

'nothing'

In [ ]:
del dic['Age']

In [ ]:
dic

{'Name': 'Shahbaz'}

In [ ]:
dic['Age'] = 12
dic['city'] = 'lhr'

In [ ]:
for i in dic.keys():
    print(i)

Name
Age
city

In [ ]:
for j in dic.values():
    print(j)

Shahbaz
12
lhr

In [ ]:
numbers = [1,2,2,3,3,3,4,4,4,4,4]
count = {}
for i in numbers:
    c = 0 
    for j in numbers:
        if i == j :
            c += 1
    count[i] = c

In [ ]:
count

{1: 1, 2: 2, 3: 3, 4: 5}

In [ ]:
4 in count # in membership particularly check for the keys

True

In [ ]:
dic

{'Name': 'Shahbaz', 'Age': 12, 'city': 'lhr'}

# **Merging two different Dictionaries**

In [ ]:
merged_dic = {**dic , **count}

In [ ]:
merged_dic

{'Name': 'Shahbaz', 'Age': 12, 'city': 'lhr', 1: 1, 2: 2, 3: 3, 4: 5}

# **Tuples**

In [ ]:
t = (2,4,5)

In [ ]:
t[0] # tuples are immutable and ordered datastructure that can also be used as keys in dictionaries

2

# packing and unpacking a tuple

In [ ]:
# packing the tuple
a = 'hello' , 3 , 3.14

In [ ]:
a
print(type(a))

<class 'tuple'>

In [ ]:
# Unpackig the tuple
b,c,d = a

In [ ]:
b

'hello'

In [ ]:
number = (2,3,5,3,5,7,3,7,9)
first , *middle , last = number

In [ ]:
middle

[3, 5, 3, 5, 7, 3, 7]

In [ ]:
first

2

In [ ]:
last

9

## **Functions and stuff**

In [ ]:
def check(num):
    """this function check whether the number is even or odd"""
    if num%2 == 0:
        return 'even'
    else:
        return 'odd'

In [ ]:
print(check(14))

even

In [ ]:
# default parameter
def greet(name = 'john doe'):
    print(f"hello {name} welcome")

In [ ]:
greet()

hello john doe welcome

In [ ]:
## positional argument
def print_num(*args):
    for i in args:
        print(i)
print_num(1,2,3,4,5,3,5,'shahbaz')

1
2
3
4
5
3
5
shahbaz

In [ ]:
### keyword argument
def print_detail(**kwargs): # all the parameters must be in key_value pair
    for key , value in kwargs.items():
        print(f'{key} --> {value}')

In [ ]:
a = {'name' : 'shahbaz' , 'age' : 14}
b = {'profession' : 'software_developer' , 'occupation' : 'CEO'}

In [ ]:
print_detail(name = 'shahbaz' , age = 13 , occupation = 'CEO')

name --> shahbaz
age --> 13
occupation --> CEO

In [ ]:
s = 'aHalsd adk shahaBaz'

In [ ]:
s.lower().replace(" " , '')

'ahalsdadkshahabaz'

## Is palindrome Problem

In [ ]:
def is_palindrome(s):
    s = s.lower().replace(" " , '')
    return s == s[::-1]

In [ ]:
is_palindrome('shahbaz')

False

In [ ]:
is_palindrome('racecar')

True

In [ ]:
is_palindrome('a man a plan a canal panama')

True

In [ ]:
def fact(n):
    # base case
    if n == 0 :
        return 1
    else:
        return n * fact(n-1)

In [ ]:
print(fact(1242))

282784357070376421737321157863126079569206621011384073302207346826776695515684249330307371278473853102019349798045915179100230031119173789744621239324498195310407860640436908326061351606089202822492711252907048966579004245988346449695257710237214954311953666711183037087713609453946806882483177861497606007637953431371356590637960051478362688653475825405045364368055759415451525278063942477249262511737021913905730617103826872918581744439271720428255901165552010427402965828639675052927622457762338854839754007772487270297429831829119006937027763565262013983734905162278639543832994392921534652133835426395015634011909629393755498309432181277753590501764054060393542220577550056661849432967449691678786743586260471797491966435235948976078845590194598776332692135631796882188469248863840281061456870597393809964152666051991707803029373641372108886126119697906229512802902967222166191536980910896539316538275530631078615485427582758625691550378402039514161561011406655647227629690112075255006931389239871880244733191696630299136076624888855398947462278383197628543050716029597313165905414152052420508421345081485060386646370869245294039172769050293164012155724381411558830291806996396330963544772188640366824067665805591549900752023656967873347636239317705323001908016774222422567171885332586986902043050608552803352387515424322995519622044058278312404420621865487569712974832643651085175165908552982027251825421545620185526334728735088802941585233184929153318719467398746028010045350485120912701222430501723160464275250578448048960510464686163552033897913565158303440850660420650853492466173299314420951551860269368429725877303297501186339607329310087515471623669459287883977505735748362379000798319544276769359817452052537176002689258594585750971528427120078359120935670659391464211648554837236417192146524997826057853692487035220575121586847998236342875383357344531200956734529999577458475200052961027881682471955867387969442133959114817824772901439299132160618589507208028626489661369564033175757596801890070235261894513473105268778095514626133304157012991927643154809366058670948715069995650420317325832400267946555892058427340196639581628148273092914839848415798304194937291470783626135976456433016747879692190358937691423615844629355794492545101010478787934978140149583795561995768984803867629477061031788796439116261959902611236824483476832802755272865530167771962463203997804311008714302815653524986924720156220238818907456408382076647924488197641160170731384558592814863947888887129512948228596866844198575469116486327061130196368168711216269145718038479784003967482382770157420533470362940000429260628733963734506425200893160357963776944035822509523300328307144920654042633501690241904435648407339835283731122188285477741993140385712251127888561677902404134576965386864867906325175593027661285539474122011885485852200410011093808572768992073411132912761559942648676716612660538820765879093525638098701382765352685810439886271608987391510355956082261544451867543131749323912622051990186229760000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
a.get('name')

'shahbaz'

In [ ]:
def count(filepath):
    word_count = {}
    with open(filepath , 'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('!@%&*')
                word_count[word] = word_count.get(word , 0) + 1
    return word_count

In [ ]:
count_dic = count('./sample.txt')

In [ ]:
count_dic

{'this': 1,
 'is': 2,
 'the': 2,
 'file': 1,
 'that': 1,
 '': 1,
 'have': 1,
 'created': 1,
 'for': 1,
 'word': 1,
 'count': 2,
 'now': 1,
 'you': 1,
 'job': 1,
 'to': 1,
 'words': 1}

In [ ]:
# Email Validator 
import re
def validator(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    print(re.match(pattern , email))

In [ ]:
validator('mirza734@gmail.com')

<re.Match object; span=(0, 18), match='mirza734@gmail.com'>

In [ ]:
if bool(re.search(r'world', 'Hello world')):
    print('found the pattern')
else:
    print('Pattern is not found')

found the pattern

## **Lambda functions**

# anonymous function ( a function without a name they can have any number of argument but have only one expression means one statement of logic )

In [ ]:
add = lambda a,b : a+b

In [ ]:
add(4,3)

7

In [ ]:
check_even = lambda a : a % 2 ==0

In [ ]:
print(check_even(2))

True

In [ ]:
sq = lambda x : x**2
lst = [1,3,5,7,9]

## MAP function

In [ ]:
list(map(sq , lst))

[1, 9, 25, 49, 81]

In [ ]:
# application of lambda function on two iterables
a = [1,2,3]
b = [5,6,7]
added_num = map(lambda x ,y : x+y , a , b)

In [ ]:
list(added_num)

[6, 8, 10]

In [ ]:
srt = ['1','2','3']
list(map(int , srt))

[1, 2, 3]

In [ ]:
# using map function i can create a function that can only extract names or whatever you want
def extract(dic):
    return dic['name']
dic1 = [
    {'name' : 'shahbaz' , 'age' : 18},
    {'name' : 'ali' , 'age' : 63}
]

In [ ]:
list(map(extract , dic1))

['shahbaz', 'ali']

### Filter Function

In [ ]:
def even_Check(num):
    if (num % 2 == 0):
        return True
numbers = [1,2,4,2,5,57,65,8,4,3,6]

In [ ]:
list(filter(even_Check , numbers ))

[2, 4, 2, 8, 4, 6]

In [ ]:
list(filter(lambda x : x>5 , numbers))

[57, 65, 8, 6]

In [ ]:
dic1

[{'name': 'shahbaz', 'age': 18}, {'name': 'ali', 'age': 63}]

In [ ]:
def age_great(people):
    return people['age'] > 35
list(filter(age_great , dic1))

[{'name': 'ali', 'age': 63}]

#### Importing Modules in Python

In [ ]:
import math as m
m.pi

3.141592653589793

In [ ]:
import numpy as np
np.sqrt(49)

np.float64(7.0)

In [ ]:
import seaborn as sns

In [ ]:
import sys
sys.path.append('s:\\AI_AGENTS\\Python_N_Env\\PYTHON_BASICS')
from package.maths import addition
print(addition(3, 5))

ImportError: cannot import name 'addition' from 'package.maths' (s:\AI_AGENTS\Python_N_Env\Python_basics\package\maths.py)

In [ ]:
from package import maths

In [ ]:
maths.addition(3,4)

AttributeError: module 'package.maths' has no attribute 'addition'

In [ ]:
import sys
sys.path.append('s:\\AI_AGENTS\\Python_N_Env\\PYTHON_BASICS')

## if `__init__` file present in particular folder then it makes that folder automatically package that we can import and work with

# **`Standard Library Overview`**

# **Array**

In [ ]:
import array
arr = array.array('f' , [1,2,3,4])

In [24]:
arr

array('f', [1.0, 2.0, 3.0, 4.0])

In [42]:
### random 
import random as r
r.randint(1,10)

10

# **OS**

In [2]:
import os
import shutil
print(os.getcwd())

s:\AI_AGENTS\Python_N_Env\Python_basics

In [44]:
os.mkdir('new_folder')

In [ ]:
import os
import shutil
os.makedirs('new_folder', exist_ok=True)
src_path = os.path.join('new_folder', 'src.txt')
with open(src_path, 'w') as f:
    f.write('this is the file that is gonna copy into destination file')
shutil.copyfile(src_path, 'dest.txt')

'dest.txt'

## **~Data Serialization~**

In [9]:
import json 
data = {'name' : 'shahbaz' , "age" : 18}
json_str = json.dumps(data)
print(type(json_str))

parsed_dic = json.loads(json_str)
print(parsed_dic)
print(type(parsed_dic))

<class 'str'>
{'name': 'shahbaz', 'age': 18}
<class 'dict'>

## `CSV`

In [23]:
import csv
with open('example.csv' , mode='w' ,newline='') as file: # windows may insert extra blank lines so we write newline to tell that no addition of extra line will be tolerated
    writer = csv.writer(file)
    writer.writerow(['name' , 'age'])
    writer.writerow(['Shahbaz' , 18])
with open('example.csv' , mode = 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Shahbaz', '18']

## **dateTime**

In [18]:
from datetime import datetime , timedelta
now = datetime.now()
yesterday = now - timedelta(days = 2)
yesterday

datetime.datetime(2025, 6, 25, 9, 55, 38, 86860)

In [20]:
import time 
print(time.time())
time.sleep(3)
print(time.time())

1751043392.7441995
1751043395.7456975

In [22]:
import re
pattern = r'\d+'
text = 'there are 234 apples in the market 235'
match = re.search(pattern , text)
print(match.group())

234

# **`File Handling And Operations`**

In [24]:
### Working with binary file 
data = b'\x00\x01\x02\x03'
with open('exp.bin' , 'wb') as f:
    f.write(data)

In [25]:
with open('exp.bin' , 'rb') as f:
    content = f.read()
    print(content)

b'\x00\x01\x02\x03'

In [29]:
with open('sample.txt' , 'r') as f:
    lines = f.readlines()

In [31]:
[len(line) for line in lines]

[54, 34, 30, 13, 12]

In [ ]:
words = [len(line.split()) for line in lines]

In [35]:
words

[11, 8, 6, 2, 2]

In [36]:
lines

['this is the file that !@ have created for word count \n',
 'now you job is to count the words\n',
 'this is another line for fun \n',
 'yet anohter \n',
 'last another']

In [ ]:
with open('example.txt' , 'w+') as f:
    f.write("hello world this is a new text\n")
    f.write('Hello this is another new line ')
    f.seek(0) # for moving the pointer to the beginning of the file
    content = f.read()
    print(content)

hello world this is a new text
Hello this is another new line

In [ ]:
### create a new directory
import os
new_dir = 'pakkage'
os.mkdir(new_dir)
print(f'Directory {new_dir} created')

In [3]:
items = os.listdir('.') # . means we are specifically working for the current directory 
print(items)

['basics.ipynb', 'dest.txt', 'example.csv', 'example.txt', 'exp.bin', 'new_folder', 'package', 'pakkage', 'requirements.txt', 'sample.txt', 'test.py', 'venv']

In [13]:
path = 'example.txt'
if os.path.exists(path):
    print('this file exist now what you gonna do')
else:
    print('this file does not exist')

this file exist now what you gonna do

In [14]:
if os.path.isfile(path):
    print('this path is file')
elif os.path.isdir(path):
    print('this path is directory')
else:
    print('this is nothing ')

this path is file

`Relative path is something which is related to the particular directory in which you are working while absolute path is something which is complete path of file in the system`

In [15]:
relative_path = 'example.txt'
abs_path = os.path.abspath(relative_path)
print(abs_path)

s:\AI_AGENTS\Python_N_Env\Python_basics\example.txt

In [ ]:
print(os.getcwd() + r'\example.txt') # r here is representing raw string or text

s:\AI_AGENTS\Python_N_Env\Python_basics\example.txt

## **Exception Handling**

In [ ]:
try:
    print('hello')
except NameError as e:
    print(f'The error is : {e}')

The error is : name 'prints' is not defined

In [2]:
### try , except and else block
###### else block will execute when statements inside the try block computed sucessfully and no exception is raised by execpt block 
try:
    print('hello')
except:
    print("Error")
else:
    print('no error occured')

hello
no error occured

### Finally come in the last and it will always be executed no matter if exception raised or not whether error occured or not it will execute
#### we can basically used FINALLY statement particularly when we are working with Databases because whether error occured or not we have to close the connection with databases so we used close statement in finally block

In [3]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '### try , except and else block\n###### else block will execute when statements inside the try block computed sucessfully and no exception is raised by execpt block \ntry:\n    print(\'hello\')\nexcept:\n    print("Error")\nelse:',
  '### try , except and else block\n###### else block will execute when statements inside the try block computed sucessfully and no exception is raised by execpt block \ntry:\n    print(\'hello\')\nexcept:\n    print("Error")\nelse:\n    print(\'no error occured\')',
  'locals()'],
 '_oh': {},
 '_dh': [WindowsPath('s:/AI_AGENTS/Python_N_Env/Python_basics')],
 'In': ['',
  '### try , except and else block\n###### else block will execute when statements inside the try block computed sucessfully and no exception is raised by execpt block \ntry:\n    print(\'hello\')\nexcept:\n    print("Error")\nelse:',
  '### try , except and else block\n###### else block will execute when statements inside the try block computed sucessfully and no exception is raised by execpt block \ntry:\n    print(\'hello\')\nexcept:\n    print("Error")\nelse:\n    print(\'no error occured\')',
  'locals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x00000245E1C29310>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x245e1f045c0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x245e1f045c0>,
 'open': <function _io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': '',
 '__': '',
 '___': '',
 '__vsc_ipynb_file__': 's:\\AI_AGENTS\\Python_N_Env\\Python_basics\\basics.ipynb',
 '_i': '### try , except and else block\n###### else block will execute when statements inside the try block computed sucessfully and no exception is raised by execpt block \ntry:\n    print(\'hello\')\nexcept:\n    print("Error")\nelse:\n    print(\'no error occured\')',
 '_ii': '### try , except and else block\n###### else block will execute when statements inside the try block computed sucessfully and no exception is raised by execpt block \ntry:\n    print(\'hello\')\nexcept:\n    print("Error")\nelse:',
 '_iii': '',
 '_i1': '### try , except and else block\n###### else block will execute when statements inside the try block computed sucessfully and no exception is raised by execpt block \ntry:\n    print(\'hello\')\nexcept:\n    print("Error")\nelse:',
 '_i2': '### try , except and else block\n###### else block will execute when statements inside the try block computed sucessfully and no exception is raised by execpt block \ntry:\n    print(\'hello\')\nexcept:\n    print("Error")\nelse:\n    print(\'no error occured\')',
 '_i3': 'locals()'}

In [7]:
def funct():
    a = 12
    b = 45
    print(locals())
funct()  ### so locals returns the dictionary mentioning all the variables that are defined within the given scope of function or any block of code
a = 23
print('a' in locals())

{'a': 12, 'b': 45}
True

In [10]:
try :
    file = open('example.txt' , 'r')
    content = file.read()
    print(content)
except FileNotFoundError :
    print("File does not exist")
finally:
    if 'file' in locals() and not file.closed():
        file.close()
        print("file is closed")

hello world this is a new text
Hello this is another new line

TypeError: 'bool' object is not callable

# <code>**OOPS**</code>

In [ ]:
class dog():
    def __init__(self , name , age):
        self.name = name # these are known as instance variable
        self.age = age
    def bark(self):
        print(f'{self.name} says woof')
dog1 = dog('lucy' , 1.5)

In [16]:
print(dog1.name)

lucy

In [17]:
dog1.bark()

lucy says woof

In [ ]:
#### Modeling the Bank Account
class BankAccount():
    def __init__(self , owner , balance = 0):
        self.owner = owner 
        self.balance = balance  # these are instance variables
    def deposit(self, amount):
        self.balance += amount
        print(f"{amount} is added to your account")
    def withdraw(self , amount): # these are instance methods
        if amount > self.balance:
            print("Insufficient Balance")
        else:
            self.balance -= amount
            print(f'{amount} is withdrawal from your account')
    def get_info(self):
        print(f"Current Balance is {self.balance}")
o1 = BankAccount('Shahbaz' , 4000)

In [28]:
o1.get_info()
o1.withdraw(4500)
o1.withdraw(1000)
o1.get_info()
o1.deposit(10000)
o1.get_info()

Current Balance is 4000
Insufficient Balance
1000 is withdrawal from your account
Current Balance is 3000
10000 is added to your account
Current Balance is 13000

## **Inheritance in OOPs**

### single inheritance and Multiple Inheritance

In [31]:
class Car():
    def __init__(self , windows , doors , engine_type):
        self.windows = windows 
        self.doors = doors
        self.engine_type = engine_type
    def drive(self):
        print(f'Driver is driving {self.engine_type} car')
car = Car(4,5,'diesel')

In [32]:
car.drive()

Driver is driving diesel car

In [33]:
class Tesla(Car):
    def __init__(self , windows , doors , engine_type , is_selfdriving):
        super().__init__(windows , doors , engine_type)
        self.is_selfdriving = is_selfdriving
    def selfdrive(self):
        print(f"Your Tesla supports self-Drive --> {self.is_selfdriving}")

In [34]:
x = Tesla(4,5,'electric' , True)

In [35]:
x.selfdrive()

Your Tesla supports self-Drive --> True

In [37]:
x.engine_type
x.drive()

Driver is driving electric car

### Multiple Inheritance
#### When class inherit from one or more than one base class

In [10]:
class Animal:
    def __init__(self , name):
        self.name = name 
class Pet :
    def __init__(self , owner):
        self.owner = owner
class Dog(Animal , Pet):
    def __init__(self , name , owner):
        Animal.__init__(self , name)
        Pet.__init__(self , owner)
    def speak(self):
        print(f'{self.name} says Woof !!!')

In [11]:
dog = Dog('Lucy' , 'Jack')

In [12]:
print(dog.speak())

Lucy says Woof !!!
None

In [14]:
dog.name

'Lucy'

# **Polymorphism**

In [ ]:
class Shape():
    def area(self):
        return "the area of shape"
    
class Rectangle(Shape): ### this is where we are implementing the whole concept of polymorphism
    def __init__(self , length , width):
        self.width = width
        self.length = length

    def area(self):
        return self.length * self.width
    
class Circle(Shape): ### this is where we are implementing the whole concept of polymorphism

    def __init__(self , radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius
    
def print_area(shape):
    print(f"Area --> {shape.area()}")

c = Circle(3)
r = Rectangle(4,5)

print_area(c)
print_area(r)

Area --> 9.42
Area --> 20

### **Polymorphism Through interfaces**

In [16]:
### polymorphism with abstract base classes
#### Define common methods for the group of related objects

from abc import ABC , abstractmethod
class Vehicle(ABC):
    @abstractmethod
    def start_engine(self):
        pass ## no definition or instantiation just provide the blueprint for the derived classes 

class Car(Vehicle):
    def start_engine(self):
        return "Car is started"
    
class Bike(Vehicle):
    def start_engine(self):
        return "Bike is started"
    
def print_info(vehicle):
    print(f'{vehicle.start_engine()}')

In [18]:
c = Car()
print_info(c)
b = Bike()
print_info(b)

Car is started
Bike is started

# **Encapsulation**

In [ ]:
### public and private protected variable
class Person:
    def __init__(self , name , age):
        self.name = name  ## Public Variable
        self.age = age   ## Public Variable because people can access these variables easily

p = Person('shahbaz' , 18)

In [4]:
print(p.name)

shahbaz

In [5]:
dir(p)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'name']

In [ ]:
### public and private protected variable
class Person:
    def __init__(self , name , age , gender):
        self.__name = name  ## Private Variable
        self.__age = age   ## Private 
        self.gender = gender

def print_name(person):
    return person._Person__name   # i breach the data

p = Person('shahbaz' , 18 , 'male')
print(print_name(p))

shahbaz

In [7]:
dir(p)

['_Person__age',
 '_Person__name',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

 #### protected variables can be printed out using derived class but directly printing these variables from base class is not possible (actually it is possible because everything in python is public so it is just the norm for other developer to not to use these variables outside the class or subclass and treat it as secret(protected) way)

In [ ]:
### public and private protected variable
class Person:
    def __init__(self , name , age , gender):
        self._name = name  ## Protected Variable
        self._age = age   ## Protected 
        self.gender = gender

class Employee(Person):               
    def __init__(self , name , age , gender):
        super().__init__(name , age , gender)

p = Person('jack' , 32 , 'male')
print(p._name)
e = Employee('shahbaz' , 18 , 'male')
print(e._name)

jack
shahbaz

## Encapsulation using Getter and Setter

In [18]:
### public and private protected variable
class Person:
    def __init__(self , name , age , gender):
        self.__name = name  ## Private Variable
        self.__age = age   ## Private 
        self.gender = gender

    ## Getter method
    def get_name(self):
        return self.__name
    
    ## Setter Method basically used for changing the value of private variable
    def set_name(self , name ):
        self.__name = name

 

p = Person('shahbaz' , 18 , 'male')
print(p.get_name())
p.set_name('ali')
print(p.get_name())

shahbaz
ali

# **Abstraction**

## hiding complex implementation details and showing only the necessary features in an object

In [21]:
from abc import ABC , abstractmethod
class Vehicle(ABC):
    def drive(self):
        print("The car is used for driving purpose")

    @abstractmethod
    def start_engine(self):
        pass ## just providing the blueprint and let the derived implement its own features using this blueprint
class Car(Vehicle):
    def start_engine(self):
        print("car engine is got started")


c = Car()
c.start_engine()
c.drive()

car engine is got started
The car is used for driving purpose

# **`Magic Methods`**

## these methods enables you to define the behaviour of your objects for built in operations such as arithmetic operation and comparisons e.t.c

In [24]:
class Person():
    def __init__(self , name , age):
        self.name = name 
        self.age = age


p = Person('shahbaz' , 18)
print(p)     ### this memory address is printing due to __str__ this constructor

<__main__.Person object at 0x000002047B28C6E0>

In [26]:
class Person():
    def __init__(self , name , age):
        self.name = name 
        self.age = age
    def __str__(self):
        return 'now this will not print anything'
    
    def __repr__(self):
        return "i have changed this using magic method"

p = Person('shahbaz' , 18)
print(p)
print(repr(p))

now this will not print anything
i have changed this using magic method

# **Operator Overloading**

In [11]:
class Vector:
    def __init__ (self , x , y):
        self.x = x
        self.y = y
    def __add__(self , other):
        return Vector(self.x + other.x , self.y + other.y)
    def __sub__(self , other):
        return Vector(self.x - other.x , self.y - other.y)
    def __repr__(self):
        return f"Vector({self.x} , {self.y})"
    
    ####### so i modify the fucntionality of addition for vector addition

In [12]:
v1 = Vector(12 , 13)
v2 = Vector(2 , 4)

In [13]:
print(v1 + v2)
print(v1 - v2)

Vector(14 , 17)
Vector(10 , 9)

In [ ]:
### Overloading Operators for Complex Numbers

class ComplexNumber:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag

    def __add__(self, other):
        return ComplexNumber(self.real + other.real, self.imag + other.imag)

    def __sub__(self, other):
        return ComplexNumber(self.real - other.real, self.imag - other.imag)

    def __mul__(self, other):
        real_part = self.real * other.real - self.imag * other.imag
        imag_part = self.real * other.imag + self.imag * other.real
        return ComplexNumber(real_part, imag_part)

    def __truediv__(self, other):
        denominator = other.real**2 + other.imag**2
        real_part = (self.real * other.real + self.imag * other.imag) / denominator
        imag_part = (self.imag * other.real - self.real * other.imag) / denominator
        return ComplexNumber(real_part, imag_part)

    def __eq__(self, other):
        return self.real == other.real and self.imag == other.imag

    def __repr__(self):
        return f"{self.real} + {self.imag}i"

# Create objects of the ComplexNumber class
c1 = ComplexNumber(2, 3)
c2 = ComplexNumber(1, 4)

# Use overloaded operators
print(c1 + c2)  # Output: 3 + 7i
print(c1 - c2)  # Output: 1 - 1i
print(c1 * c2)  # Output: -10 + 11i
print(c1 / c2)  # Output: 0.8235294117647058 - 0.29411764705882354i
print(c1 == c2) # Output: False

# **Custom Exception Handling**

In [2]:
class Error(Exception):
    pass


class dobException(Error):
    pass

In [4]:
year = int(input("Enter your Year of Birth : "))
age = 2024 - year
try:
    if age <= 30 and age >= 20 :
        print("You are eligible for exam")
    else:
        raise dobException
    
except dobException:
    print("Your age is not eligible for the exam")

You are eligible for exam

# **Iterators in Python**

In [5]:
### advance python concept that allow for efficient looping and memory management
### they are used to access the elements from collection sequentially without exposing the underlying structure of collection 
my_list = [1,2,3,4,5,6]
for i in my_list:
    print(i)

1
2
3
4
5
6

In [16]:
iterator = iter(my_list)

In [17]:
next(iterator)

1

In [23]:
try:
    print(next(iterator))
except StopIteration :
    print('All elements are printed no more element is now available')

All elements are printed no more element is now available

# **Generators**

#### subclass for iterator and it is simple way of creating iterators on collection
## they use yeild keyword to produce the series of values lazily

In [30]:
def square(n):
    for i in range(3):
        yield i**2

In [31]:
for i in square(3):
    print(i)

0
1
4

In [33]:
square(3) ## it produces the values lazily and donot store values in memory in a single turn

In [34]:
i = square(3)

In [38]:
next(i)

StopIteration:

In [39]:
def my_generator():
    yield 1
    yield 2
    yield 3

In [40]:
a = my_generator()

In [43]:
next(a)

3

In [44]:
### Practical Example
## Reading ---> Reading Large Files

def read_large_files(file_path):
    with open(file_path , 'r') as f:
        for line in f:
            yield line

In [45]:
file_path = 'large_file.txt'
for line in read_large_files(file_path):
    print(line.strip())

Maple syrup is a syrup usually made from the xylem sap of sugar maple, red maple or black maple trees.

In cold climates, these trees store starch in their trunks and roots before the winter; the starch is then converted to sugar that rises in the sap in the spring.

Trees can be tapped by boring holes into their trunks and collecting the sap. This is processed by heating to evaporate some of the water, leaving the concentrated syrup.

Maple syrup was first collected and used by the Indigenous people of North America; the practice was adopted by European settlers.

Quebec, Canada, is by far the largest producer, making about three-quarters of the world's output. The syrup is graded based on its density and translucency.

Maple syrup is often eaten as an accompaniment to food, as an ingredient in baking and as a sweetener and flavouring agent.

Maple syrup and the sugar maple tree are symbols of Canada and several US states, in particular Vermont.

### `Generator basically loads the lines one by one and save them in local variable and it does not loads all file at once in the memory for printing and other calculation purpose`
# Python Iterator is much more efficient when compare to generator

# **Decorators**

### Decorator are used to modify the functionality of function or class method , are commonly used to add features in the function without modifying the actual code of the function

In [46]:
# <---- Function Copy ---->
### Means we can copy a function in variable and can delete the function but the functionality of function will remain in variable

def welcome():
    print('this is the function to welcome you')


welcome()

this is the function to welcome you

In [47]:
wel = welcome

In [ ]:
wel()
del welcome
wel()

this is the function to welcome you
this is the function to welcome you

In [50]:
welcome()

NameError: name 'welcome' is not defined

In [55]:
# <---- Closures ---->
### it basically means a function inside a function


def welcome(msg):
    def sub_welcome():
        print("Welcome to the advance python course on github")
        print ('\n' ,msg , '\n')
        print("This is the full notebook of python on Github")
    return sub_welcome()

In [56]:
welcome("Github Message")

Welcome to the advance python course on github

 Github Message

This is the full notebook of python on Github

In [57]:
def welcome(func):
    def sub_welcome():
        print("Welcome to the advance python course on github")
        func('this is printed due to the fucntion')
        print("This is the full notebook of python on Github")
    return sub_welcome()

welcome(print)

Welcome to the advance python course on github
this is printed due to the fucntion
This is the full notebook of python on Github

In [58]:
def welcome(func , lst):
    def sub_welcome():
        print("Welcome to the advance python course on github")
        print(func(lst))
        print("This is the full notebook of python on Github")
    return sub_welcome()

In [59]:
welcome(len , [1,2,3,4,5])

Welcome to the advance python course on github
5
This is the full notebook of python on Github

### *Decorators*

In [62]:
def welcome(func):
    def sub_welcome():
        print("Welcome to the advance python course on github")
        func()
        print("This is the full notebook of python on Github")
    return sub_welcome()

In [63]:
@welcome
def function():
    print("this line is printed inside the decorator")

Welcome to the advance python course on github
this line is printed inside the decorator
This is the full notebook of python on Github

In [66]:
def my_decorator(func):
    def wrapper():
        print('This line is executed before function is called')
        func()
        print('this line executed after function is called')

    return wrapper

In [67]:
@my_decorator
def hello():
    print('hello world')

In [68]:
hello()

This line is executed before function is called
hello world
this line executed after function is called

In [69]:
### Decorator with Argument
def repeat(n):
    def decorator(func):
        def wrapper(*args , **kwargs):
            for _ in range(n):
                func(*args , **kwargs)
        return wrapper
    return decorator

In [70]:
@repeat(3)
def say_hello():
    print('hello')

In [ ]:
say_hello() ## it runs for three time as the value of n is 3 and the iterator running in the functions is taking this value of 3

hello
hello
hello

# Data Analysis Using Python

# **`NUMPY`**

In [73]:
import numpy as np

In [74]:
arr = np.array([1,2,3,4])

In [76]:
print(type(arr))

<class 'numpy.ndarray'>

In [79]:
arr.reshape(2,2)

array([[1, 2],
       [3, 4]])

In [80]:
arr_2d = np.array([[1,2,4],[4,6,7]])

In [81]:
arr_2d.shape

(2, 3)

In [86]:
### getting specific number of element within certain range
a = np.arange(0,10 , 2) ## first two parameters are just range of numbers while the third parameter is stepsize

In [88]:
a.reshape(5,1)

array([[0],
       [2],
       [4],
       [6],
       [8]])

In [89]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [90]:
### identity matrix
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [91]:
a.itemsize

8

## **Numpy Vectorized Operations**

In [92]:
arr1 = np.array([1,2,3,4])
arr2 = np.array([8,7,6,4])
print("Addition --> " , arr1 + arr2)

Addition -->  [9 9 9 8]

In [93]:
print(np.sqrt(arr2))

[2.82842712 2.64575131 2.44948974 2.        ]

In [94]:
## Exponential Function 
np.exp(arr2)

array([2980.95798704, 1096.63315843,  403.42879349,   54.59815003])

## Slicing and Indexing

In [95]:
### Universal Functions
arr_a = np.array([[1,2,4],[4,7,8],[8,5,3]])

In [96]:
arr_a[1,1]

np.int64(7)

In [97]:
arr_a[1:,1:]

array([[7, 8],
       [5, 3]])

In [98]:
### you can also modify elements in the array

## **Normalization of Data**

In [99]:
data = np.array([1,2,3,4,5])


mean = np.mean(data)
std = np.std(data)

normalized_data = (data - mean) / std

normalized_data

array([-1.41421356, -0.70710678,  0.        ,  0.70710678,  1.41421356])

In [ ]:
## Logical Operations
data = np.array([1,2,3,4,5,6,7,8,9])
data[data>5]   ## Boolean Masking of Data

array([6, 7, 8, 9])

# **`PANDAS`**

In [3]:
import pandas as pd

In [5]:
data = [1,2,3,4]
df = pd.Series(data)

In [12]:
### Series From a Dictionary 
data1 = {"a" : 1 , "b" : 2 , "c" : 3}
df1 = pd.Series(data1)
df1

a    1
b    2
c    3
dtype: int64

In [13]:
df1['a']

np.int64(1)

In [15]:
datae = [10,20,30]
index = ['a' , 'b' , 'c']
df = pd.Series(datae , index = index)
df

a    10
b    20
c    30
dtype: int64

In [4]:
data2 = {
    "name" : ["Shahbaz" , "ALi" , "Harris"],
    "Age" : [18 , 63 , 23],
    "City" : ["Sheikhupura" , "Mecca" , "Los Angeles"]
}

In [5]:
df2 = pd.DataFrame(data2)

In [29]:
df2

      name  Age         City
0  Shahbaz   18  Sheikhupura
1      ALi   63        Mecca
2   Harris   23  Los Angeles

In [8]:
import numpy as np
np.array(data2)

array({'name': ['Shahbaz', 'ALi', 'Harris'], 'Age': [18, 63, 23], 'City': ['Sheikhupura', 'Mecca', 'Los Angeles']},
      dtype=object)

In [9]:
df = pd.read_csv('S:\AI_AGENTS\Python_N_Env\Python_basics\sales1_data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\User\AppData\Local\Temp\ipykernel_15984\2606347978.py:1: SyntaxWarning: invalid escape sequence '\A'
  df = pd.read_csv('S:\AI_AGENTS\Python_N_Env\Python_basics\sales1_data.csv')

In [10]:
df

          Date   Product  Sales Region
0   2023-01-01  Product3  738.0   West
1   2023-01-02  Product2  868.0  North
2   2023-01-03  Product2  554.0   West
3   2023-01-04  Product1  618.0  South
4   2023-01-05  Product3  501.0   East
5   2023-01-06  Product1    NaN   West
6   2023-01-07  Product3  339.0  South
7   2023-01-08  Product3  280.0  South
8   2023-01-09  Product2  806.0  North
9   2023-01-10  Product2  816.0  South
10  2023-01-11  Product3  469.0   West
11  2023-01-12  Product3    NaN   East
12  2023-01-13  Product3    NaN   East
13  2023-01-14  Product3  676.0   East
14  2023-01-15  Product1  183.0  South
15  2023-01-16  Product1  424.0  South
16  2023-01-17  Product1    NaN  South
17  2023-01-18  Product1    NaN  South
18  2023-01-19  Product2  124.0  North
19  2023-01-20  Product3  732.0   West
20  2023-01-21  Product2    NaN   West
21  2023-01-22  Product3  296.0   West
22  2023-01-23  Product2  737.0   West
23  2023-01-24  Product3  531.0   East
24  2023-01-25  Product2  834.0  North

In [14]:
df.tail()

          Date   Product  Sales Region
20  2023-01-21  Product2    NaN   West
21  2023-01-22  Product3  296.0   West
22  2023-01-23  Product2  737.0   West
23  2023-01-24  Product3  531.0   East
24  2023-01-25  Product2  834.0  North

In [17]:
df.iloc[0 , :]

Date       2023-01-01
Product      Product3
Sales           738.0
Region           West
Name: 0, dtype: object

In [23]:
df.iloc[0][0]

C:\Users\User\AppData\Local\Temp\ipykernel_15984\3629555008.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][0]

'2023-01-01'

In [24]:
df.at[21 , 'Product']

'Product3'

In [27]:
df['Product'].value_counts()

Product
Product3    11
Product2     8
Product1     6
Name: count, dtype: int64

In [32]:
# Accessing a specified element using iat

df2.iat[0,2]

'Sheikhupura'

In [34]:
# Data Manipulation with DataFrames
df2['Salary'] = [4000 ,4002 , 12904]

In [35]:
df2

      name  Age         City  Salary
0  Shahbaz   18  Sheikhupura    4000
1      ALi   63        Mecca    4002
2   Harris   23  Los Angeles   12904

In [39]:
df2.drop('Salary' , axis = 1 , inplace= True)

In [40]:
df2

      name  Age         City
0  Shahbaz   18  Sheikhupura
1      ALi   63        Mecca
2   Harris   23  Los Angeles

In [42]:
df2["Age"] = df2["Age"]  + 1

In [43]:
df2

      name  Age         City
0  Shahbaz   19  Sheikhupura
1      ALi   64        Mecca
2   Harris   24  Los Angeles

In [44]:
df2.drop(0 , inplace = True)

In [45]:
df2

     name  Age         City
1     ALi   64        Mecca
2  Harris   24  Los Angeles

In [46]:
df2.dtypes

name    object
Age      int64
City    object
dtype: object

## **Data Manipulation**

In [54]:
df.isnull().sum()

Date       0
Product    0
Sales      0
Region     0
dtype: int64

In [53]:
df.fillna(df['Sales'].mean() , inplace = True)

In [58]:
df["Sales"] = df['Sales'].astype('int')

In [59]:
df.dtypes

Date       object
Product    object
Sales       int64
Region     object
dtype: object

In [60]:
df["New_Sales"] = df["Sales"].apply(lambda x: x*2)

In [61]:
df

          Date   Product  Sales Region  New_Sales
0   2023-01-01  Product3    738   West       1476
1   2023-01-02  Product2    868  North       1736
2   2023-01-03  Product2    554   West       1108
3   2023-01-04  Product1    618  South       1236
4   2023-01-05  Product3    501   East       1002
5   2023-01-06  Product1    554   West       1108
6   2023-01-07  Product3    339  South        678
7   2023-01-08  Product3    280  South        560
8   2023-01-09  Product2    806  North       1612
9   2023-01-10  Product2    816  South       1632
10  2023-01-11  Product3    469   West        938
11  2023-01-12  Product3    554   East       1108
12  2023-01-13  Product3    554   East       1108
13  2023-01-14  Product3    676   East       1352
14  2023-01-15  Product1    183  South        366
15  2023-01-16  Product1    424  South        848
16  2023-01-17  Product1    554  South       1108
17  2023-01-18  Product1    554  South       1108
18  2023-01-19  Product2    124  North        248
19  2023-01-20  Product3    732   West       1464
20  2023-01-21  Product2    554   West       1108
21  2023-01-22  Product3    296   West        592
22  2023-01-23  Product2    737   West       1474
23  2023-01-24  Product3    531   East       1062
24  2023-01-25  Product2    834  North       1668

In [64]:
## Data Aggregating and Grouping 

grouped_mean = df.groupby('Product')['Sales'].mean()
grouped_mean

Product
Product1    481.166667
Product2    661.625000
Product3    515.454545
Name: Sales, dtype: float64

In [66]:
df['Product'].value_counts()

Product
Product3    11
Product2     8
Product1     6
Name: count, dtype: int64

In [68]:
df.groupby(['Product' , 'Region'])['Sales'].sum()

Product   Region
Product1  South     2333
          West       554
Product2  North     2632
          South      816
          West      1845
Product3  East      2816
          South      619
          West      2235
Name: Sales, dtype: int64

In [70]:
df.groupby('Region')['Sales'].mean()

Region
East     563.20
North    658.00
South    471.00
West     579.25
Name: Sales, dtype: float64

### Merging and Joining DataFrames

##### On is used for selecting the column on the basis of which we gonna join the dataFrames and inner , outer means whehter we gonna join intersectionally or unionally

# **Reading Data From Different Sources**

In [76]:
# !pip install html5lib
# !pip install beautifulsoup4
!pip install lxml

Collecting lxml
  Downloading lxml-6.0.0-cp312-cp312-win_amd64.whl.metadata (6.8 kB)
Downloading lxml-6.0.0-cp312-cp312-win_amd64.whl (4.0 MB)
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/4.0 MB 262.1 kB/s eta 0:00:14
   ----- ---------------------------------- 0.5/4.0 MB 262.1 kB/s eta 0:00:14
   ----- ---------------------------------- 0.5/4.0 MB 262.1 kB/s eta 0:00:14
   ----- ---------------------------------- 0.5/4.0 MB 262.1 kB/s eta 0:00:14
   ----- ---------------------------------- 0.5/4.0 MB 262.1 kB/s eta 0:00:14
   ----- ---------------------------------- 0.5/4.0 MB 262.1 kB/s eta 0:00:14
   ----- ---------------------------------- 0.5/4.0 MB 262.1 kB/s eta 0:00:14
   ----- ---------------------------------- 0.5/4.0 MB 262.1 kB/s eta 0:00:14
   ------- -------------------------------- 0.8/4.0 MB 195.1 kB/s eta 0:00:17
   ------- -------------------------------- 0.8/4.0 MB 195.1 kB/s eta 0:00:17
   ------- -------------------------------- 0.8/4.0 MB 195.1 kB/s eta 0:00:17
   ------- -------------------------------- 0.8/4.0 MB 195.1 kB/s eta 0:00:17
   ------- -------------------------------- 0.8/4.0 MB 195.1 kB/s eta 0:00:17
   ------- -------------------------------- 0.8/4.0 MB 195.1 kB/s eta 0:00:17
   ------- -------------------------------- 0.8/4.0 MB 195.1 kB/s eta 0:00:17
   ------- -------------------------------- 0.8/4.0 MB 195.1 kB/s eta 0:00:17
   ------- -------------------------------- 0.8/4.0 MB 195.1 kB/s eta 0:00:17
   ------- -------------------------------- 0.8/4.0 MB 195.1 kB/s eta 0:00:17
   ---------- ----------------------------- 1.0/4.0 MB 162.9 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/4.0 MB 162.9 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/4.0 MB 162.9 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/4.0 MB 162.9 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/4.0 MB 162.9 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/4.0 MB 162.9 kB/s eta 0:00:19
   ---------- ----------------------------- 1.0/4.0 MB 162.9 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/4.0 MB 166.9 kB/s eta 0:00:17
   ------------- -------------------------- 1.3/4.0 MB 166.9 kB/s eta 0:00:17
   ------------- -------------------------- 1.3/4.0 MB 166.9 kB/s eta 0:00:17
   ------------- -------------------------- 1.3/4.0 MB 166.9 kB/s eta 0:00:17
   ------------- -------------------------- 1.3/4.0 MB 166.9 kB/s eta 0:00:17
   ------------- -------------------------- 1.3/4.0 MB 166.9 kB/s eta 0:00:17
   ------------- -------------------------- 1.3/4.0 MB 166.9 kB/s eta 0:00:17
   ------------- -------------------------- 1.3/4.0 MB 166.9 kB/s eta 0:00:17
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   --------------- ------------------------ 1.6/4.0 MB 162.9 kB/s eta 0:00:15
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   ------------------ --------------------- 1.8/4.0 MB 125.8 kB/s eta 0:00:18
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   -------------------- ------------------- 2.1/4.0 MB 121.7 kB/s eta 0:00:16
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   ----------------------- ---------------- 2.4/4.0 MB 110.4 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   -------------------------- ------------- 2.6/4.0 MB 95.9 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ---------------------------- ----------- 2.9/4.0 MB 79.8 kB/s eta 0:00:15
   ------------------------------- -------- 3.1/4.0 MB 62.8 kB/s eta 0:00:14
   ------------------------------- -------- 3.1/4.0 MB 62.8 kB/s eta 0:00:14
   ------------------------------- -------- 3.1/4.0 MB 62.8 kB/s eta 0:00:14
   ------------------------------- -------- 3.1/4.0 MB 62.8 kB/s eta 0:00:14
   ------------------------------- -------- 3.1/4.0 MB 62.8 kB/s eta 0:00:14
   ------------------------------- -------- 3.1/4.0 MB 62.8 kB/s eta 0:00:14
   ------------------------------- -------- 3.1/4.0 MB 62.8 kB/s eta 0:00:14
   ------------------------------- -------- 3.1/4.0 MB 62.8 kB/s eta 0:00:14
   --------------------------------- ------ 3.4/4.0 MB 62.5 kB/s eta 0:00:10
   --------------------------------- ------ 3.4/4.0 MB 62.5 kB/s eta 0:00:10
   --------------------------------- ------ 3.4/4.0 MB 62.5 kB/s eta 0:00:10
   --------------------------------- ------ 3.4/4.0 MB 62.5 kB/s eta 0:00:10
   --------------------------------- ------ 3.4/4.0 MB 62.5 kB/s eta 0:00:10
   --------------------------------- ------ 3.4/4.0 MB 62.5 kB/s eta 0:00:10
   --------------------------------- ------ 3.4/4.0 MB 62.5 kB/s eta 0:00:10
   ------------------------------------ --- 3.7/4.0 MB 69.9 kB/s eta 0:00:05
   ------------------------------------ --- 3.7/4.0 MB 69.9 kB/s eta 0:00:05
   ------------------------------------ --- 3.7/4.0 MB 69.9 kB/s eta 0:00:05
   ------------------------------------ --- 3.7/4.0 MB 69.9 kB/s eta 0:00:05
   ------------------------------------ --- 3.7/4.0 MB 69.9 kB/s eta 0:00:05
   ------------------------------------ --- 3.7/4.0 MB 69.9 kB/s eta 0:00:05
   ---------------------------------------  3.9/4.0 MB 75.8 kB/s eta 0:00:02
   ---------------------------------------  3.9/4.0 MB 75.8 kB/s eta 0:00:02
   ---------------------------------------  3.9/4.0 MB 75.8 kB/s eta 0:00:02
   ---------------------------------------  3.9/4.0 MB 75.8 kB/s eta 0:00:02
   ---------------------------------------- 4.0/4.0 MB 76.5 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-6.0.0

In [ ]:
## Read Html

url="https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"

df=pd.read_html(url)
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
5,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
6,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
7,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
8,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
9,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538

In [82]:
url="https://en.wikipedia.org/wiki/Mobile_country_code"
df = pd.read_html(url,match="Country",header=0)[0]

Empty DataFrame
Columns: [Mobile country code, Country, ISO 3166, Mobile network codes, National MNC authority, Remarks]
Index: []

In [71]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)

In [73]:
df.head()
df.to_csv('wine.csv')

# **Logging In Python**

### logging in python provides a way to track events , errors and operational Information

In [86]:
import logging

In [88]:
#### Configure basic logging settings
logging.basicConfig(level=logging.DEBUG)

## log messages with different severity messages
logging.debug("this is a debug message")
logging.info('This is a info message')
logging.warning('this is a warning message')
logging.error('this is a error message')
logging.critical('this is a critical message')

DEBUG:root:this is a debug message
INFO:root:This is a info message
WARNING:root:this is a warning message
ERROR:root:this is a error message
CRITICAL:root:this is a critical message

In [96]:
import logging

logging.basicConfig(
    filename='app.log',
    filemode='w',
    level=logging.DEBUG,
    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s',
    datefmt='%Y-%m-%d %H:%M:%S'
)

logging.debug("This is a debug message")
logging.info("This is an info message")
logging.warning("This is a warning message")
logging.error("This is an error message")
logging.critical("This is a critical message")

DEBUG:root:This is a debug message
INFO:root:This is an info message
WARNING:root:This is a warning message
ERROR:root:This is an error message
CRITICAL:root:This is a critical message

## **Multiple Loggers**

In [97]:
import logging

logger1 = logging.getLogger('module1')
logger1.setLevel(logging.DEBUG)

logger2 = logging.getLogger('module2')
logger2.setLevel(logging.WARNING)

logging.basicConfig(
    level=logging.DEBUG,
    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s',
    datefmt='%Y-%m-%d %H:%M:%S'
)

In [98]:
logger1.debug("this is the debug message for logger 1")
logger2.warning("thsi is the warning message for logger 2")

DEBUG:module1:this is the debug message for logger 1
WARNING:module2:thsi is the warning message for logger 2